@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
  background-color: #f0f5ff;
  font-family: 'Jost',sans-serif;
  color: #fff;
}

.wrapper {
  width: 900px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

input[id="survey_options"]{
  padding: 10px;
  margin: 10px 10px;

  display: inline-block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 500px;
  color: black;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display:block;
  margin:10px 387px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.survey_options{
  padding: 10px;
  margin: 10px 10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 500px;
  color: black;
}

.radio_options,.checkbox_options,.dropdown_options,.date_options{
  padding: 6px;
  margin: 10px 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 250px;
  color: black;
 }


input[type="text"]:focus {
  outline: none;
}
.all_option{
  display:block;
}
.all_option_top{
  display:block;
}
.controls a i.fa-minus {
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #232c3d;
}
.next_ques{
  margin:10px auto;
  width:150px;
  border:2px solid black;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.add_more_fields{
  padding:16px;
  font-size: 1.5rem;
}
i{
color:black;
}
